!!! XML
%html
  %head
    %title Hackadelphia User Group
    %link{:rel => "stylesheet", :type => "text/css", :href => "site.css"}
  %body
    %div#bodypane
      #header.bar
        %div Hackadelphia 
        %div{:style => "font-size: 0.5em"} A development and mentorship user group.
      #contentpane
        %p
          Like to hack? Like to tell people about what you're hacking on? Come join us at
          Hackadelphia! We're a group of coders who get together in the Philadelphia metro
          area to hack and share ideas. We're a pan-technological group who accept people
          regardless of technology (though we can't promise that COBOL users won't get
          strange looks). The basic idea is to have people spending nights hacking in the
          presence of other hackers.
        %p
          So, how's it work? We're very freeform. If you want to come hack with us, please
          do. If you're looking for something to hack on, please see our wiki and match
          up your skillset with one of our mentors. Or, if you're in charge of a project
          or in contact with those who are, please email Erik and he'll get you listed on 
          our Looking for Hackers (LFH) board.
        %p
          Our goals in running Hackadelphia are varied. Primarily we want to get people
          hacking on code, regardless of what the code is. But beyond that, getting people
          outside of their technology's echo chamber is also an important goal. This isn't
          to say that we want to open the floodgates of advocacy, but rather that we want
          to engender an atmosphere where people using different technologies can steal 
          one anothers' good ideas for the greater benefit of hackers everywhere. In this
          way, Hackadelphia is a bit like old world guilds: a group of people practicing a
          broad trade (like masonry or carpentry) organizing together to train and learn 
          from one another in order to further the craft as a whole. Advocacy is only 
          welcome insofar as a way for people to learn how their peers have solved a 
          problem so they may solve it in the same way.
      #footer.bar
        Please feel free to contact us via
        %a{:href => "mailto:erik@hollensbe.org?subject=Hackadelphia"} email
        \-- more coming soon!
        
