body {
  width: 800px;
  background-color: #888;
  color: #000;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #444;
  color: #99A;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
}

#contentpane {
  background-color: #446;
  color: #CCC; 
  padding: 20px;
}

#contentpane p {
  background-color: #557;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

#footer {
  background-color: #444;
  color: #99A;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

