body {
  width: 800px;
  background-color: #888;
  color: #000;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  background-color: #444;
  color: #99A;
  padding: 20px;
  text-align: center;
}

.bar a {
  color: #888;
}

.bar a:visited {
  color: #666;
}

#header {
  font-size: 1.5em;
  font-weight: bolder;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-bottom: 1px solid #888;
}

#contentpane {
  font-family: serif;
  background-color: #446;
  color: #DDD; 
  padding: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#contentpane p {
  background-color: #557;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
}

#contentpane a {
  color: #BBC;
}

#contentpane a:visited {
  color: #AAB;
}


#footer {
  color: #111;
  font-size: 0.8em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  border-top: 1px solid #888;
}
